<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Appointments</title>
  <style>
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
    }
    td,th {
        text-align: center;
        padding: 8px;
    }

    td {
        border-right: 1px solid #f8f8f8;
        font-size: 12px;
    }

    thead th {
        color: #ffffff;
        background: #eca657;
    }

    thead th:nth-child(odd) {
        color: #ffffff;
        background: #e45b1c;
    }

    tr:nth-child(even) {
        background: #F8F8F8;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    h1 {
        color: dimgray;
        font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
        padding-left: 43%;
    }

    nav ul {
        background-color: #e45b1c;
        overflow: hidden;
        color: white;
        padding: 0;
        text-align: center;
        margin: 0;
        -webkit-transition: max-height 0.4s;
        -ms-transition: max-height 0.4s;
        -moz-transition: max-height 0.4s;
        -o-transition: max-height 0.4s;
        transition: max-height 0.4s;
    }

    nav ul li {
        display: inline-block;
        padding: 20px;

    }

    nav ul li:hover {
        background-color: #f8f8f8;
        color: dimgray;
    }
    .handle {
        width: 100%;
        background: #005c48;
        text-align: left;
        box-sizing: border-box;
        padding: 15px 10px;
        cursor: pointer;
        color: white;
        display: none
    }

    @media (max-width: 767px) {

        nav ul {
            max-height: 0;
        }

        .showing {
            max-height: 20em;
        }

        nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 15px;
            text-align: center;
        }
    }
</style>
</head>

<body>
  <nav>
    <ul>
        <a href="/login/patients">
            <li>Patients</li>
        </a>            
        <a href="/login/medications">
            <li>Medications</li>
        </a>
        <a href="/login/appointments">
            <li>Appointments</li>
        </a>
        <a href="/login/hospitals">
            <li>Hospitals</li>
        </a>
    </ul>
    
    <div class="handle">Menu</div>
</nav>
  <h1>Appointments</h1>
  
  <table>
    <thead>
      <tr>
        <th>ApptID</th>
        <th>PatientID</th>
        <th>DoctorID</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% appointments.forEach(function(appointment) { %>
        <tr>
          <td><%= appointment.ApptID %></td>
          <td><%= appointment.PatientID %></td>
          <td><%= appointment.DoctorID %></td>
          <td><%= appointment.Date %></td>
          <td><%= appointment.Time %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>

</html>
